#states {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#states td, #states th {
  border: 1px solid #ddd;
  padding: 8px;
}

#states tr:hover {background-color: #ddd;}

#states th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #252525;
  color: white;
}
