#states {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#states td, #states th {
  border: 1px solid #ddd;
  padding: 12px;
}

#states tr:hover {background-color: #ddd;}

#states th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #252525;
  color: white;
}
