#states {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#states td, #states th {
  border: 1px solid #32414b;
  padding: 12px;
}

#states tr:hover {background-color: #1464a0;}

#states th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #32414b;
}
